{% extends "base.html" %}

{% block content %}

<h1>All Users</h1>

<!-- Pagination -->
<div class="text-center">
    {{ pagination.links }}
</div>

<ul class="users">
    {% for user in users %}
        <li>
            {{ gravatar_for(user, size=50) | safe }}
            <a href="{{ url_for('users.show_user', user_id=user.id) }}">{{ user.name }}</a>
            {% set cu = current_user() %}
            {% if cu and cu.admin and cu.id != user.id %}
                |  <a href="{{ url_for('users.delete', user_id=user.id) }}">Delete</a>
                {% if not user.admin %}
                    | <a href="{{ url_for('users.confirm', user_id=user.id) }}">Promote to Admin</a>
                {% else %}
                    | <a href="{{ url_for('users.confirm', user_id=user.id) }}">Demote from Admin</a>
                {% endif %}
            {% endif %}
        </li>
    {% endfor %}
</ul>

<!-- Pagination -->
<div class="text-center">
    {{ pagination.links }}
</div>
{% endblock %}
